@using System.Reactive.Subjects

<div class="box">
  <h3>MinusProducer</h3>

  <button @onclick=HandleClick>Click me</button>

</div>

@code {
  [CascadingParameter] _DEMO003 BizState { get; set; } = default!;

  //# Property
  Subject<int> MinusSubject => BizState.minusSubject;

  void HandleClick()
  {
    MinusSubject.OnNext(Random.Shared.Next(1, 7) * -1);
  }
}
