@using System.Reactive.Subjects

<div class="box">
  <h3>PlusProducer</h3>

  <button @onclick=HandleClick>Click me</button>

</div>

@code {
  [CascadingParameter] _DEMO003 BizState { get; set; } = default!;

  //# Property
  Subject<int> PlusSubject => BizState.plusSubject;

  void HandleClick()
  {
    PlusSubject.OnNext(Random.Shared.Next(1,7));
  }
}
