@page "/rxdemo01"
@using System.Reactive.Subjects

<h3>RxDemo01</h3>

<CascadingValue Value=mySubject>
  <Producer />
  <Consumer />
</CascadingValue>

@code {
  Subject<string> mySubject = new Subject<string>();
}
