@page "/rxdemo02"
@using System.Reactive.Subjects

<h3>RxDemo02 - merge & scan</h3>

<CascadingValue Value=this>
  <div class="d-flex gap-3">
    <PlusProducer />
    <MinusProducer />
  </div>
  <Consumer />
</CascadingValue>

@code {
  public Subject<int> plusSubject = new Subject<int>();
  public Subject<int> minusSubject = new Subject<int>();
}